Regression Closed Form Solution:
$$\hat{\beta} = (X^{'}X)^{-}X^{'}y$$

In [2]:
import numpy as np
import pandas as pd
import statsmodels.api as sms;

In [3]:
df = pd.read_csv('house_prices.csv')
df.head()

   house_id neighborhood  area  bedrooms  bathrooms      style    price
0      1112            B  1188         3          2      ranch   598291
1       491            B  3512         5          3  victorian  1744259
2      5952            B  1134         3          2      ranch   571669
3      3525            A  1940         4          2      ranch   493675
4      5108            B  2208         6          4  victorian  1101539

In [11]:
df['neighborhood'].value_counts()

B    2427
A    1876
C    1725
Name: neighborhood, dtype: int64

In [12]:
df[['A', 'B', 'C']] =  pd.get_dummies(df.neighborhood)
df.head()

,house_id,neighborhood,area,bedrooms,bathrooms,style,price,A,B,C
0,1112,B,1188,3,2,ranch,598291,0,1,0
1,491,B,3512,5,3,victorian,1744259,0,1,0
2,5952,B,1134,3,2,ranch,571669,0,1,0
3,3525,A,1940,4,2,ranch,493675,1,0,0
4,5108,B,2208,6,4,victorian,1101539,0,1,0

In [13]:
df['style'].value_counts()

victorian    2997
ranch        1802
lodge        1229
Name: style, dtype: int64

In [19]:
df[['ranch', 'lodge', 'victorian']] = pd.get_dummies(df['style'])
df.head()

,house_id,neighborhood,area,bedrooms,bathrooms,style,price,A,B,C,victorian,ranch,lodge,intercept
0,1112,B,1188,3,2,ranch,598291,0,1,0,0,0,1,1
1,491,B,3512,5,3,victorian,1744259,0,1,0,1,0,0,1
2,5952,B,1134,3,2,ranch,571669,0,1,0,0,0,1,1
3,3525,A,1940,4,2,ranch,493675,1,0,0,0,0,1,1
4,5108,B,2208,6,4,victorian,1101539,0,1,0,1,0,0,1

In [20]:
df['intercept'] = 1

lm = sms.OLS(df['price'], df[['intercept', 'lodge', 'ranch']])
results = lm.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.339
Model:                            OLS   Adj. R-squared:                  0.339
Method:                 Least Squares   F-statistic:                     1548.
Date:                Tue, 18 Feb 2020   Prob (F-statistic):               0.00
Time:                        09:41:54   Log-Likelihood:                -86683.
No. Observations:                6028   AIC:                         1.734e+05
Df Residuals:                    6025   BIC:                         1.734e+05
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
intercept   1.046e+06   7775.607    134.534      0.000    1.03e+06    1.06e+06
lodge       -4.71e+05   1.27e+04    -37.115      0.000   -4.96e+05   -4.46e+05
ranch      -7.411e+05   1.44e+04    -51.396      0.000   -7.69e+05   -7.13e+05
==============================================================================
Omnibus:                     1340.120   Durbin-Watson:                   2.004
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3232.810
Skew:                           1.230   Prob(JB):                         0.00
Kurtosis:                       5.611   Cond. No.                         3.28
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""