## Module 03: Assessing Data


### Lesson 01: Assessing Data

> Assess data visually and programmatically for quality and tidiness issues using pandas. The dataset for this lesson is mock Phase II clinical trial data for a new oral insulin called Auralin.

#### 01. Introduction

Assessing your data is the second step in the data wrangling process. When assessing, you're like a detective at work. Inspecting your data set for two things: Data quality issues and lack of tidiness.

* Data that has quality issues has issues with content like missing, duplicate or incorrect data. This is called dirty data.
* An untidy or messy data has specific structural issues. These structural issues slow you down when cleaning and analyzing, visualizing or modeling your data later. 

You can search for these issues in two ways: Visually, with a simple scroll and programmatically using code.

#### 02. Lesson Outline

Assessing your data is the second step in data wrangling. When assessing, you're like a detective at work, inspecting your dataset for two things: **data quality issues** (i.e. content issues) and **lack of tidiness** (i.e. structural issues).

This lesson will be structured as follows:

* You'll get motivated to assess (and later clean) the dataset for lessons 3 and 4: Phase II clinical trial data that compares the efficacy and safety of a new oral insulin to treat diabetes
* You'll learn to distinguish between dirty data and messy data
* You'll assess the data visually and programmatically to identify:
    * Data quality issues
    * Tidiness issues
* You'll learn about data quality dimensions and categorize each of the data quality issues identified above into its appropriate dimension

#### 03. Dataset: Oral Insulin Phase II Clinical Trial Data

The Auralin and Novodra are not real insulin products. This clinical trial data was fabricated for the sake of this course. When assessing this data, the issues that you'll detect (and later clean) are meant to simulate real-world data quality and tidiness issues.

That said:

* This dataset was constructed with the consultation of real doctors to ensure plausibility.
* This clinical trial data for an alternative insulin was inspired and closely mimics this real clinical trial for a new inhaled insulin called Afrezza.
* The data quality issues in this dataset mimic real, common data quality issues in healthcare data. These issues impact quality of care, patient registration, and revenue.
* The patients in this dataset were created using this fake name generator and do not include real names, addresses, phone numbers, emails, etc.

#### 04. Unclean Data: Dirty vs. Messy 1

**Dirty data** which has issues with its content is often called low quality data and can include things like inaccurate data, corrupted data and duplicate data.

**Messy data** on the other hand had issues with its structure. It is often referred to as untidy. Tidy data means each variable forms a column, each observation forms a row and each type of observational unit forms a table. Any other arrangement is messy which is the exact term that Hadley Wickham, the inventor of the tidy data format uses in his tidy data paper.

#### 05. Unclean Data: Dirty vs. Messy 2

There are two types of unclean data:

**Dirty data**, also known as low quality data. Low quality data has content issues.
**Messy data**, also known as untidy data. Untidy data has structural issues.

#### 06. Assessment: Types vs. Steps

There are two types or styles of assessing your data. You can assess it visually and you can assess it programmatically. 

* Visual assessment is just opening it and looking through the data in its entirety, in Pandas, a text editor or a spreadsheet application for example.

* Programmatic assessment like its name suggests, is anything that uses code to view specific parts of the data, like using functions or methods to summarize the data. Like this dot info method for example. Visualizing your data (i.e., creating plots) is part of Programmatic rather than Visual Assessment. 

Regardless of the type of assessment you're using, assessing data can be broken down into two steps: **detecting an issue** and **documenting that issue**.

When your data's issues get complicated, writing how to fix each can get confusing, lengthy, and time-consuming. It can get overwhelming trying to think of how to clean something complicated immediately after documenting it.

#### 07. Visual Assessment

Visual assessment is great for getting acquainted with the dataset and just trying to understand what it's all about, like acquiring a mental picture of it. Also, a lot of the time assessing is driven by the problem you want to solve, like checking the values in the columns and rows you plan on using in your analysis.

#### 08. Visual Assessment: Acquaint Yourself

This Auralin Phase II clinical trial dataset comes in three tables: `patients`, `treatments`, and `adverse_reactions`. Acquaint yourself with them through visual assessment below.

**Gather**

In [1]:
import pandas as pd

In [3]:
patients = pd.read_csv('patients.csv')
treatments = pd.read_csv('treatments.csv')
adverse_reactions = pd.read_csv('adverse_reactions.csv')

**Assess**

In the cells below, each column of each table in this clinical trial dataset is described. To see the table that goes hand in hand with these descriptions, display each table in its entirety by displaying the pandas DataFrame that it was gathered into. This task is the mechanical part of visual assessment in pandas.

In [7]:
# Display the patients table
patients

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1
5,6,male,Rafael,Costa,1140 Willis Avenue,Daytona Beach,Florida,32114.0,United States,386-334-5237RafaelCardosoCosta@gustr.com,8/31/1931,183.9,70,26.4
6,7,female,Mary,Adams,3145 Sheila Lane,Burbank,NV,84728.0,United States,775-533-5933MaryBAdams@einrot.com,11/19/1969,146.3,65,24.3
7,8,female,Xiuxiu,Chang,2687 Black Oak Hollow Road,Morgan Hill,CA,95037.0,United States,XiuxiuChang@einrot.com1 408 778 3236,8/13/1958,158.0,60,30.9
8,9,male,Dsvid,Gustafsson,1790 Nutter Street,Kansas City,MO,64105.0,United States,816-265-9578DavidGustafsson@armyspy.com,3/6/1937,163.9,66,26.5
9,10,female,Sophie,Cabrera,3303 Anmoore Road,New York,New York,10011.0,United States,SophieCabreraIbarra@teleworm.us1 718 795 9124,12/3/1930,194.7,64,33.4
10,11,female,Sandy,Gunnarsson,87 Wood Duck Drive,Rudyard,MI,49780.0,United States,906-478-8949SandyGunnarsson@dayrep.com,7/16/1974,199.3,62,36.4
11,12,male,Abdul-Nur,Isa,1092 Farm Meadow Drive,Brentwood,TN,37027.0,United States,Abdul-NurMummarIsa@rhyta.com1 931 207 0839,2/3/1954,238.7,73,31.5
12,13,male,Omeokachie,Ibeamaka,2544 Worley Avenue,Lynchburg,VA,24504.0,United States,OmeokachieIbeamaka@einrot.com434-509-2614,8/5/1957,224.2,69,33.1
13,14,female,Anenechi,Chidi,826 Broad Street,Birmingham,AL,35203.0,United States,AnenechiChidi@armyspy.com+1 (205) 417-8095,3/7/1961,228.4,67,35.8
14,15,female,Asia,Woźniak,4970 Heather Sees Way,Tulsa,OK,74105.0,United States,AsiaWozniak@rhyta.com918-712-3469,8/15/1997,112.0,65,18.6
15,16,male,Søren,Lund,2438 Shady Pines Drive,Kingsport,VA,37660.0,United States,276-225-1955SrenFLund@gustr.com,8/23/1922,201.5,64,34.6
16,17,female,Tám,Liễu,2152 Heritage Road,Fresno,California,93706.0,United States,LieuThiThuTam@dayrep.com1 559 765 7836,11/14/1952,183.9,61,34.7
17,18,female,Roxanne,Andreyeva,2103 Edington Drive,Smyrna,GA,30082.0,United States,RoxanneAndreyeva@armyspy.com678-829-8578,7/24/1922,129.1,60,25.2
18,19,male,William,Oates,441 Tibbs Avenue,Ekalaka,MT,59324.0,United States,406-775-2696WilliamVOates@armyspy.com,9/4/1949,202.2,64,34.7
19,20,male,Zak,Kelly,994 Hill Croft Farm Road,Oroville,California,95966.0,United States,ZakKelly@rhyta.com1 530 532 8397,12/13/1988,208.8,70,30.0
20,21,female,Sofia,Karlsen,2931 Romano Street,Whitman,MA,2382.0,United States,SofiaTKarlsen@teleworm.us1 781 447 1763,9/24/1934,153.1,66,24.7
21,22,male,Samúel,Guðbrandsson,1904 Granville Lane,Elmsford,NJ,10523.0,United States,973-445-5341SamuelGubrandsson@teleworm.us,4/12/1983,223.7,69,33.0
22,23,male,Manchu,Su,1092 Deans Lane,Pleasantville,NY,10570.0,United States,914-745-6108ManchuSu@einrot.com,1/19/1936,130.7,65,21.7
23,24,male,Lovre,Galić,4941 Marion Drive,Winter Haven,Florida,33830.0,United States,LovreGalic@gustr.com1 813 355 9476,5/26/1960,222.9,66,36.0
24,25,male,Jakob,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
25,26,male,Gregor,Bole,922 Chapmans Lane,Albuquerque,NM,87109.0,United States,GregorBole@gustr.com505-828-4955,6/19/1922,180.8,67,28.3
26,27,female,Ella,Lund,1207 Garfield Road,Peoria,IL,61602.0,United States,309-671-8852EllaLund@armyspy.com,12/19/1933,144.8,61,27.4
27,28,male,Joseph,Tucker,4982 Wood Street,Venice,LA,70091.0,United States,985-814-7603JosephNTucker@rhyta.com,4/10/1959,175.8,72,23.8
28,29,male,Robert,Wolf,2386 Linda Street,Fort Washington,PA,19034.0,United States,RobertWolf@fleckens.hu1 267 895 7462,6/26/1937,206.6,70,29.6
29,30,male,Jake,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,474,female,Kate,Wilkinson,664 Lyon Avenue,South Boston,MA,2127.0,United States,KateWilkinson@armyspy.com1 508 905 2371,7/18/1998,175.3,65,29.2
474,475,female,Esperanza,Labrosse,1370 Flint Street,Atlanta,GA,30303.0,United States,EsperanzaLabrosse@armyspy.com678-263-3564,10/7/1961,181.5,63,32.1
475,476,male,Malik,Vaneker,1270 Haul Road,Mountain View,California,94041.0,United States,MalikVaneker@superrito.com650-962-7179,9/25/1953,214.4,67,33.6
476,477,female,Berta,Napolitani,1815 Garrett Street,Philadelphia,PA,19108.0,United States,267-972-3749BertaNapolitani@rhyta.com,12/2/1958,153.3,63,27.2
477,478,male,Juliusz,Majewski,4435 Poe Road,Florence,SC,29501.0,United States,JuliuszMajewski@superrito.com+1 (843) 212-6421,9/29/1966,212.1,69,31.3
478,479,female,Edelma,Villalpando,312 Jim Rosa Lane,San Jose,CA,95134.0,United States,EdelmaVillalpandoSantillan@teleworm.us+1 (415)...,6/24/1977,109.6,63,19.4
479,480,male,Tapa,Arsanukayev,4720 Gordon Street,Ontario,California,91762.0,United States,TapaArsanukayev@dayrep.com1 909 458 2515,9/15/1955,220.0,65,36.6
480,481,male,Nasser,Mansour,547 Weekley Street,San Antonio,TX,78212.0,United States,NasserMazinMansour@fleckens.hu1 210 326 5509,3/25/1938,183.5,66,29.6
481,482,male,Michael,Kristensen,1614 Heather Sees Way,Tulsa,OK,74116.0,United States,MichaelKristensen@gustr.com1 918 706 2776,8/10/1930,154.7,65,25.7
482,483,male,Diogo,Souza,4033 White Avenue,Corpus Christi,TX,78401.0,United States,361-693-4960DiogoBarrosSouza@jourrapide.com,3/3/1945,220.0,65,36.6
483,484,female,Angel,Grant,990 Melville Street,Memphis,TN,38118.0,United States,731-577-0292AngelGrant@fleckens.hu,8/14/1987,123.9,61,23.4
484,485,male,Placido,Udinesi,1094 Jones Avenue,Greensboro,NC,28716.0,United States,336-697-2005PlacidoUdinesi@dayrep.com,5/31/1934,175.8,65,29.3
485,486,male,Trifon,Izmailov,3697 Drainer Avenue,Fort Walton Beach,FL,32548.0,United States,TrifonIzmailov@fleckens.hu1 850 659 0417,2/15/1973,255.9,74,32.9
486,487,male,Samuel,Blix,3488 Clair Street,Waco,TX,76706.0,United States,254-681-4504SamuelBlix@dayrep.com,7/6/1983,211.4,74,27.1
487,488,male,Ivar,Löfgren,1346 Nicholas Street,Ottawa,KS,66067.0,United States,IvarLofgren@armyspy.com1 785 229 1188,11/7/1962,242.4,77,28.7
488,489,male,Mika,Martinsson,962 George Street,Ocala,Florida,34471.0,United States,352-453-4601MikaMartinsson@armyspy.com,1/27/1970,165.0,67,25.8
489,490,female,Jasmine,Sykes,2607 Water Street,Lafayette,California,94549.0,United States,JasmineSykes@jourrapide.com925-283-5425,12/1/1988,187.2,63,33.2
490,491,male,Jackson,Addison,1160 Taylor Street,New Rochelle,New York,10801.0,United States,914-636-9304JacksonAddison@armyspy.com,5/29/1953,192.7,69,28.5
491,492,female,Vanessa,Ferguson,241 Freshour Circle,San Antonio,TX,78205.0,United States,210-222-8684VanessaFerguson@jourrapide.com,9/21/1950,149.8,67,23.5
492,493,male,Poldi,Tar,3958 Liberty Avenue,Burbank,California,91505.0,United States,714-496-2264TarPoldi@superrito.com,5/23/1970,184.6,70,26.5
493,494,female,Fen,Chin,1826 Poplar Chase Lane,Boise,ID,83702.0,United States,FenChin@gustr.com+1 (208) 388-1065,3/18/1997,195.1,68,29.7
494,495,female,Sirkka,Piirainen,4102 Ritter Avenue,Roseville,MI,48066.0,United States,SirkkaPiirainen@teleworm.us+1 (586) 790-0975,1/16/1942,126.3,67,19.8
495,496,male,Hajime,Tsukada,4111 Thunder Road,San Mateo,CA,94403.0,United States,650-570-4896HajimeTsukada@dayrep.com,9/5/1972,168.1,66,27.1
496,497,male,Alexander,Hueber,3868 Freed Drive,Stockton,California,95204.0,United States,AlexanderHueber@jourrapide.com1 209 762 2320,9/12/1942,194.0,72,26.3
497,498,male,Masataka,Murakami,1179 Patton Lane,Tulsa,OK,74116.0,United States,MasatakaMurakami@einrot.com+1 (918) 984-9171,8/19/1937,155.1,72,21.0
498,499,male,Mustafa,Lindström,2530 Victoria Court,Milton Mills,ME,3852.0,United States,207-477-0579MustafaLindstrom@jourrapide.com,4/10/1959,181.1,72,24.6
499,500,male,Ruman,Bisliev,494 Clarksburg Park Road,Sedona,AZ,86341.0,United States,928-284-4492RumanBisliev@gustr.com,3/26/1948,239.6,70,34.4
500,501,female,Jinke,de Keizer,649 Nutter Street,Overland Park,MO,64110.0,United States,816-223-6007JinkedeKeizer@teleworm.us,1/13/1971,171.2,67,26.8
501,502,female,Chidalu,Onyekaozulu,3652 Boone Crockett Lane,Seattle,WA,98109.0,United States,ChidaluOnyekaozulu@jourrapide.com1 360 443 2060,2/13/1952,176.9,67,27.7
502,503,male,Pat,Gersten,2778 North Avenue,Burr,Nebraska,68324.0,United States,PatrickGersten@rhyta.com402-848-4923,5/3/1954,138.2,71,19.3

`patients` columns:
- **patient_id**: the unique identifier for each patient in the [Master Patient Index](https://en.wikipedia.org/wiki/Enterprise_master_patient_index) (i.e. patient database) of the pharmaceutical company that is producing Auralin
- **assigned_sex**: the assigned sex of each patient at birth (male or female)
- **given_name**: the given name (i.e. first name) of each patient
- **surname**: the surname (i.e. last name) of each patient
- **address**: the main address for each patient
- **city**: the corresponding city for the main address of each patient
- **state**: the corresponding state for the main address of each patient
- **zip_code**: the corresponding zip code for the main address of each patient
- **country**: the corresponding country for the main address of each patient (all United states for this clinical trial)
- **contact**: phone number and email information for each patient
- **birthdate**: the date of birth of each patient (month/day/year). The [inclusion criteria](https://en.wikipedia.org/wiki/Inclusion_and_exclusion_criteria) for this clinical trial is  age >= 18 *(there is no maximum age because diabetes is a [growing problem](http://www.diabetes.co.uk/diabetes-and-the-elderly.html) among the elderly population)*
- **weight**: the weight of each patient in pounds (lbs)
- **height**: the height of each patient in inches (in)
- **bmi**: the Body Mass Index (BMI) of each patient. BMI is a simple calculation using a person's height and weight. The formula is BMI = kg/m<sup>2</sup> where kg is a person's weight in kilograms and m<sup>2</sup> is their height in metres squared. A BMI of 25.0 or more is overweight, while the healthy range is 18.5 to 24.9. *The [inclusion criteria](https://en.wikipedia.org/wiki/Inclusion_and_exclusion_criteria) for this clinical trial is 16 >= BMI >= 38.*

In [5]:
# Display the treatments table
treatments

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32
5,jasmine,sykes,-,42u - 44u,7.56,7.18,0.38
6,sophia,haugen,37u - 42u,-,7.65,7.27,0.38
7,eddie,archer,31u - 38u,-,7.89,7.55,0.34
8,saber,ménard,-,54u - 54u,8.08,7.70,NaN
9,asia,woźniak,30u - 36u,-,7.76,7.37,NaN
10,joseph,day,29u - 36u,-,7.70,7.19,NaN
11,kristiina,hyypiä,-,36u - 38u,7.87,7.49,0.38
12,roxanne,andreyeva,29u - 38u,-,9.54,9.14,NaN
13,gregor,bole,-,47u - 45u,7.61,7.16,0.95
14,simone,baumgaertner,27u - 37u,-,7.74,7.30,NaN
15,enco,žibrik,55u - 68u,-,7.78,7.34,NaN
16,camilla,zaitseva,28u - 37u,-,7.53,7.13,NaN
17,gina,cain,-,36u - 36u,7.88,7.40,0.98
18,addolorata,lombardi,-,49u - 46u,7.75,7.33,NaN
19,khalid,johnsrud,-,54u - 54u,8.35,7.94,NaN
20,mile,stanić,-,47u - 48u,7.66,7.24,0.92
21,tekla,walczak,29u - 39u,-,7.61,7.29,0.32
22,brancaleone,russo,53u - 60u,-,8.61,8.18,NaN
23,chiemela,tobeolisa,-,43u - 47u,7.59,7.17,NaN
24,isac,berg,31u - 41u,-,9.68,9.29,0.39
25,benoît,bonami,-,44u - 43u,9.82,9.40,0.92
26,suhaim,rahal,-,49u - 47u,7.94,7.50,0.94
27,mizuki,iwata,-,45u - 46u,7.70,7.23,0.97
28,clinton,miller,42u - 51u,-,7.79,7.40,0.39
29,eugene,mironov,42u - 49u,-,7.81,7.48,0.33
...,...,...,...,...,...,...,...
250,chen,yao,-,56u - 57u,7.90,7.51,0.39
251,aksel,vestergaard,-,42u - 38u,9.62,9.29,NaN
252,ellen,luman,-,40u - 39u,9.27,8.77,0.50
253,albino,schiavone,35u - 43u,-,7.56,7.15,NaN
254,jose,combs,-,39u - 36u,7.89,7.42,NaN
255,jia li,teng,48u - 54u,-,7.66,7.32,0.34
256,ilija,horvat,42u - 50u,-,7.77,7.38,0.39
257,mathilde,nørgaard,-,27u - 28u,8.50,8.10,0.90
258,csilla,herczegh,-,43u - 46u,7.71,7.27,NaN
259,aaliyah,rice,-,31u - 31u,7.64,7.33,0.31
260,david,beauvais,-,26u - 23u,7.87,7.47,NaN
261,caroline,shuler,-,50u - 54u,7.63,7.27,NaN
262,alex,crawford,51u - 62u,-,7.69,7.30,0.39
263,rebecca,jephcott,53u - 63u,-,7.96,7.57,0.39
264,chukwumoge,ogochukwu,-,41u - 39u,7.95,7.56,0.39
265,fearne,mcgregor,-,27u - 29u,7.83,7.48,0.35
266,ursula,freud,42u - 54u,-,7.75,7.46,0.29
267,leon,scholz,-,38u - 32u,7.72,7.29,0.93
268,yasmin,araujo,-,51u - 54u,7.82,7.36,0.96
269,hiromu,horikawa,-,47u - 46u,7.77,7.28,NaN
270,mika,martinsson,34u - 43u,-,7.50,7.17,0.33
271,leo,vieira,-,30u - 33u,7.74,7.36,NaN
272,steven,roy,-,41u - 43u,7.87,7.43,0.94
273,kate,wilkinson,36u - 39u,-,7.72,7.20,NaN
274,naja,enoksen,43u - 50u,-,7.98,7.59,NaN
275,albina,zetticci,45u - 51u,-,7.93,7.73,0.20
276,john,teichelmann,-,49u - 49u,7.90,7.58,NaN
277,mathea,lillebø,23u - 36u,-,9.04,8.67,0.37
278,vallie,prince,31u - 38u,-,7.64,7.28,0.36
279,samúel,guðbrandsson,53u - 56u,-,8.00,7.64,0.36

350 patients participated in this clinical trial. None of the patients were using Novodra (a popular injectable insulin) or Auralin (the oral insulin being researched) as their primary source of insulin before.  All were experiencing elevated HbA1c levels.

All 350 patients were treated with Novodra to establish a baseline HbA1c level and insulin dose. After four weeks, which isn’t enough time to capture all the change in HbA1c that can be attributed by the switch to Auralin or Novodra:
- 175 patients switched to Auralin for 24 weeks
- 175 patients continued using Novodra for 24 weeks

`treatments` columns:
- **given_name**: the given name of each patient in the Master Patient Index that took part in the clinical trial
- **surname**: the surname of each patient in the Master Patient Index that took part in the clinical trial
- **auralin**: the baseline median daily dose of insulin from the week prior to switching to Auralin (the number before the dash) *and* the ending median daily dose of insulin at the end of the 24 weeks of treatment measured over the 24th week of treatment (the number after the dash). Both are measured in units (shortform 'u'), which is the [international unit](https://en.wikipedia.org/wiki/International_unit) of measurement and the standard measurement for insulin.
- **novodra**: same as above, except for patients that continued treatment with Novodra
- **hba1c_start**: the patient's HbA1c level at the beginning of the first week of treatment. HbA1c stands for Hemoglobin A1c. The [HbA1c test](https://depts.washington.edu/uwcoe/healthtopics/diabetes.html) measures what the average blood sugar has been over the past three months. It is thus a powerful way to get an overall sense of how well diabetes has been controlled. Everyone with diabetes should have this test 2 to 4 times per year. Measured in %.
- **hba1c_end**: the patient's HbA1c level at the end of the last week of treatment
- **hba1c_change**: the change in the patient's HbA1c level from the start of treatment to the end, i.e., `hba1c_start` - `hba1c_end`. For Auralin to be deemed effective, it must be "noninferior" to Novodra, the current standard for insulin. This "noninferiority" is statistically defined as the upper bound of the 95% confidence interval being less than 0.4% for the difference between the mean HbA1c changes for Novodra and Auralin (i.e. Novodra minus Auralin).

In [6]:
# Display the adverse_reactions table
adverse_reactions

     given_name     surname           adverse_reaction
0         berta  napolitani  injection site discomfort
1          lena        baer               hypoglycemia
2        joseph         day               hypoglycemia
3        flavia  fiorentino                      cough
4       manouck     wubbels          throat irritation
5       jasmine       sykes               hypoglycemia
6        louise     johnson               hypoglycemia
7       albinca     komavec               hypoglycemia
8           noe      aranda               hypoglycemia
9         sofia   hermansen  injection site discomfort
10        tegan     johnson                   headache
11         abel     yonatan                      cough
12    abdul-nur         isa               hypoglycemia
13         leon      scholz  injection site discomfort
14     gabriele     saenger               hypoglycemia
15       jia li        teng                     nausea
16        jakob    jakobsen               hypoglycemia
17  christopher    woodward                     nausea
18          ole    petersen               hypoglycemia
19       finley    chandler                   headache
20     anenechi       chidi               hypoglycemia
21     miłosław  wiśniewski  injection site discomfort
22        lixue       hsueh  injection site discomfort
23        merci      leroux               hypoglycemia
24         kang         mai  injection site discomfort
25       elliot  richardson               hypoglycemia
26      clinton      miller          throat irritation
27       idalia       moore               hypoglycemia
28       xiuxiu       chang               hypoglycemia
29         alex    crawford               hypoglycemia
30       monika      lončar               hypoglycemia
31       steven         roy                   headache
32      cecilie      nilsen               hypoglycemia
33    krisztina      magyar               hypoglycemia

`adverse_reactions` columns:
- **given_name**: the given name of each patient in the Master Patient Index that took part in the clinical trial and had an adverse reaction (includes both patients treated Auralin and Novodra)
- **surname**: the surname of each patient in the Master Patient Index that took part in the clinical trial and had an adverse reaction (includes both patients treated Auralin and Novodra)
- **adverse_reaction**: the adverse reaction reported by the patient

Additional useful information:
- [Insulin resistance varies person to person](http://www.tudiabetes.org/forum/t/how-much-insulin-is-too-much-on-a-daily-basis/9804/5), which is why both starting median daily dose and ending median daily dose are required, i.e., to calculate change in dose.
- It is important to test drugs and medical products in the people they are meant to help. People of different age, race, sex, and ethnic group must be included in clinical trials. This [diversity](https://www.clinicalleader.com/doc/an-fda-perspective-on-patient-diversity-in-clinical-trials-0001) is reflected in the `patients` table.
- Ensuring column names are descriptive enough is an important step in acquainting yourself with the data. 'Descriptive enough' is subjective. Ideally you want short column names (so they are easier to type and read in code form) but also fully descriptive. Length vs. descriptiveness is a tradeoff and common debate (a [similar debate](https://softwareengineering.stackexchange.com/questions/176582/is-there-an-excuse-for-short-variable-names) exists for variable names). The *auralin* and *novodra* column names are probably not descriptive enough, but you'll address that later so don't worry about that for now.

**Quality**

* `patients` table
    - zip code is a float not a string
    - zip code has four digits sometimes
    - Tim Neudorf height is 27 in instead of 72 in
    - full state names sometimes, abbreviations other times

* `treatments` table
    - missing HbA1c changes

#### 10. Assessing vs. Exploring

Assessing is part of the data wrangling process, while exploring is part of Exploratory Data Analysis or EDA.

Data wrangling is about gathering the right pieces of data, assessing your data's quality and structure, then modifying your data to make it clean. But the assessments you make and convert to cleaning operations, won't make your analysis, VIS, or model better though. The goal is just to make them work.

EDA is about exploring your data to later augment it, to maximize the potential of your analyses, visualizations and models. When exploring, simple visualizations are often used to summarize your data's main characteristics. From there, you can do things like remove outliers and create new and more descriptive features from existing data, also known as feature engineering.

In practice, wrangling and EDA can occur together, but we're going to separate them for teaching purposes.

**Assessing** is also identifying structural (tidiness) issues that make analysis difficult.

* The discovery of these data quality and ensure that the analysis can be executed, which for this clinical trial data includes calculated average patient metrics (e.g. age, weight, height, and BMI) and calculating the confidence interval for the difference in HbA1c change means between Novodra and Auralin patients.

**Exploring**, in the context of this dataset, might be:

* Using summary statistics like count on the state column or mean on the weight column to see if patients from certain states or of certain weights are more likely to have diabetes, which we can use to exclude certain patients from the analysis and make it less biased

#### 11. Quality: Visual Assessment 2

**Quality**

* `patients` table
    - zip code is a float not a string
    - zip code has four digits sometimes
    - Tim Neudorf height is 27 in instead of 72 in
    - full state names sometimes, abbreviations other times
    - David Gustaffson misspelled first name

* `treatments` table
    - missing HbA1c changes
    - The letter u in starting and ending doses
    - lowercase given names and surnames
    - missing records (280 instead of 350)

* `adverse_reactions` table
    - lowercase given names and surnames

#### 12. Data Quality Dimensions 1

Data quality dimensions help guide your thought process while assessing and also cleaning. The four main data quality dimensions are:

1. **Completeness**: do we have all of the records that we should? Do we have missing records or not? Are there specific rows, columns, or cells missing?
2. **Validity**: we have the records, but they're not valid, i.e., they don't conform to a defined schema. A schema is a defined set of rules for data. These rules can be real-world constraints (e.g. negative height is impossible) and table-specific constraints (e.g. unique key constraints in tables).
3. **Accuracy**: inaccurate data is wrong data that is valid. It adheres to the defined schema, but it is still incorrect. Example: a patient's weight that is 5 lbs too heavy because the scale was faulty.
4. **Consistency**: inconsistent data is both valid and accurate, but there are multiple correct ways of referring to the same thing. Consistency, i.e., a standard format, in columns that represent the same data across tables and/or within tables is desired.

#### 13. Data Quality Dimensions 2

**Example**

* **Validity**: 'u' next to start dose and end dose in the treatments table
* **Consistency**: Lowercase given names and surnames in the treatments and adverse_reactions table
* **Accuracy**: 'Dsvid' given name typo in the patients table
* **Completeness**: 280 records in the treatments table instead of 350

#### 14. Programmatic Assessment

programmatic assessment means using code to do anything other than look through the data in its entirety. Entirety being the key word. More technically, in Pandas, this means using functions and methods to reveal something about your data's quality and tidiness to you.

* assessing is driven by the problem you want to solve.
* Non-directed programmatic assessment can also be useful. This is randomly typing in programmatic assessments without any directed goal in mind.

In [10]:
patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 14 columns):
patient_id      503 non-null int64
assigned_sex    503 non-null object
given_name      503 non-null object
surname         503 non-null object
address         491 non-null object
city            491 non-null object
state           491 non-null object
zip_code        491 non-null float64
country         491 non-null object
contact         491 non-null object
birthdate       503 non-null object
weight          503 non-null float64
height          503 non-null int64
bmi             503 non-null float64
dtypes: float64(3), int64(2), object(9)
memory usage: 55.1+ KB

In [9]:
patients.sample(5)

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
145,146,male,Sauli,Koivuniemi,1990 Spring Avenue,Eagleville,PA,19403.0,United States,SauliKoivuniemi@einrot.com+1 (267) 679-4137,7/24/1974,170.9,66,27.6
312,313,female,Holly,Macleod,57 Norman Street,Los Angeles,CA,90017.0,United States,HollyMacleod@jourrapide.com1 323 280 6511,11/16/1935,190.7,62,34.9
29,30,male,Jake,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
313,314,female,Mgbankwo,Afamefuna,1774 George Avenue,Atmore,AL,36502.0,United States,251-359-2088MgbankwoAfamefuna@einrot.com,7/18/1984,188.5,67,29.5
467,468,female,Jožka,Resanovič,1557 Byers Lane,Redding,CA,96001.0,United States,530-773-9263JozkaResanovic@superrito.com,10/5/1959,122.1,63,21.6

In [14]:
patients.query('city == "New York"').patient_id.count()

18

#### 15. Quality: Programmatic Assessment 1

The answer to a lot of questions in data analysis and data science is "it depends." This is what makes wrangling tricky sometimes since you have to understand the context of your data to make the best decision. Data scientists in a workplace should often consult with others on the team who know the data context best, or who will use the results of analysis later, like business analysts or product owners.

**Quality**

* `patients` table
    - zip code is a float not a string
    - zip code has four digits sometimes
    - Tim Neudorf height is 27 in instead of 72 in
    - full state names sometimes, abbreviations other times
    - David Gustaffson misspelled first name
    - Missing demographic information (address -> contact columns)
    - Erroneous datatypes (assigned_sex, state, zip_code and birthdate columns)
    - Multiple phone number formats

* `treatments` table
    - missing HbA1c changes
    - The letter u in starting and ending doses
    - lowercase given names and surnames
    - missing records (280 instead of 350)
    - Erroneous datatype (auralin and novodra columns)
    - Inaccurate HbA1c changes (4s mistaken as 9s)

* `adverse_reactions` table
    - lowercase given names and surnames

In [15]:
patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 14 columns):
patient_id      503 non-null int64
assigned_sex    503 non-null object
given_name      503 non-null object
surname         503 non-null object
address         491 non-null object
city            491 non-null object
state           491 non-null object
zip_code        491 non-null float64
country         491 non-null object
contact         491 non-null object
birthdate       503 non-null object
weight          503 non-null float64
height          503 non-null int64
bmi             503 non-null float64
dtypes: float64(3), int64(2), object(9)
memory usage: 55.1+ KB

In [18]:
patients[patients['address'].isnull()]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
209,210,female,Lalita,Eldarkhanov,NaN,NaN,NaN,NaN,NaN,NaN,8/14/1950,143.4,62,26.2
219,220,male,Mỹ,Quynh,NaN,NaN,NaN,NaN,NaN,NaN,4/9/1978,237.8,69,35.1
230,231,female,Elisabeth,Knudsen,NaN,NaN,NaN,NaN,NaN,NaN,9/23/1976,165.9,63,29.4
234,235,female,Martina,Tománková,NaN,NaN,NaN,NaN,NaN,NaN,4/7/1936,199.5,65,33.2
242,243,male,John,O'Brian,NaN,NaN,NaN,NaN,NaN,NaN,2/25/1957,205.3,74,26.4
249,250,male,Benjamin,Mehler,NaN,NaN,NaN,NaN,NaN,NaN,10/30/1951,146.5,69,21.6
257,258,male,Jin,Kung,NaN,NaN,NaN,NaN,NaN,NaN,5/17/1995,231.7,69,34.2
264,265,female,Wafiyyah,Asfour,NaN,NaN,NaN,NaN,NaN,NaN,11/3/1989,158.6,63,28.1
269,270,female,Flavia,Fiorentino,NaN,NaN,NaN,NaN,NaN,NaN,10/9/1937,175.2,61,33.1
278,279,female,Generosa,Cabán,NaN,NaN,NaN,NaN,NaN,NaN,12/16/1962,124.3,69,18.4
286,287,male,Lewis,Webb,NaN,NaN,NaN,NaN,NaN,NaN,4/1/1979,155.3,68,23.6
296,297,female,Chỉ,Lâm,NaN,NaN,NaN,NaN,NaN,NaN,5/14/1990,181.1,63,32.1

In [16]:
treatments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 7 columns):
given_name      280 non-null object
surname         280 non-null object
auralin         280 non-null object
novodra         280 non-null object
hba1c_start     280 non-null float64
hba1c_end       280 non-null float64
hba1c_change    171 non-null float64
dtypes: float64(3), object(4)
memory usage: 15.4+ KB

In [17]:
adverse_reactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 3 columns):
given_name          34 non-null object
surname             34 non-null object
adverse_reaction    34 non-null object
dtypes: object(3)
memory usage: 896.0+ bytes

In [19]:
patients.describe()

       patient_id      zip_code      weight      height         bmi
count  503.000000    491.000000  503.000000  503.000000  503.000000
mean   252.000000  49084.118126  173.434990   66.634195   27.483897
std    145.347859  30265.807442   33.916741    4.411297    5.276438
min      1.000000   1002.000000   48.800000   27.000000   17.100000
25%    126.500000  21920.500000  149.300000   63.000000   23.300000
50%    252.000000  48057.000000  175.300000   67.000000   27.200000
75%    377.500000  75679.000000  199.500000   70.000000   31.750000
max    503.000000  99701.000000  255.900000   79.000000   37.700000

In [21]:
treatments.describe()

       hba1c_start   hba1c_end  hba1c_change
count   280.000000  280.000000    171.000000
mean      7.985929    7.589286      0.546023
std       0.568638    0.569672      0.279555
min       7.500000    7.010000      0.200000
25%       7.660000    7.270000      0.340000
50%       7.800000    7.420000      0.380000
75%       7.970000    7.570000      0.920000
max       9.950000    9.580000      0.990000

In [22]:
adverse_reactions.describe()

       given_name  surname adverse_reaction
count          34       34               34
unique         34       33                6
top         jakob  johnson     hypoglycemia
freq            1        2               19

In [23]:
patients.sample(5)

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
232,233,female,Kyouko,Ono,435 Pike Street,San Diego,CA,92123.0,United States,KyoukoOno@superrito.com1 858 587 9945,11/19/1940,126.9,59,25.6
157,158,female,Ellen,Luman,4643 Reeves Street,Chilton,WI,53014.0,United States,EllenRLuman@einrot.com920-849-0384,2/26/1951,184.6,60,36.0
284,285,male,Nilton,Quintanilla,4038 Farland Street,Walpole,MA,2081.0,United States,774-219-3140NiltonQuintanillaAlmonte@rhyta.com,2/9/1980,186.3,75,23.3
14,15,female,Asia,Woźniak,4970 Heather Sees Way,Tulsa,OK,74105.0,United States,AsiaWozniak@rhyta.com918-712-3469,8/15/1997,112.0,65,18.6
114,115,male,Yunadi,Barsukov,2784 Turkey Pen Road,Manhattan,New York,10016.0,United States,917-256-5329YunadiBarsukov@teleworm.us,5/28/1993,176.2,68,26.8

#### 16. Quality: Programmatic Assessment 2

**Quality**

* `patients` table
    - zip code is a float not a string
    - zip code has four digits sometimes
    - Tim Neudorf height is 27 in instead of 72 in
    - full state names sometimes, abbreviations other times
    - David Gustaffson misspelled first name
    - Missing demographic information (address -> contact columns)
    - Erroneous datatypes (assigned_sex, state, zip_code and birthdate columns)
    - Multiple phone number formats
    - Default John Doe data
    - Multiple records for Jakobsen, Gersten, Taylor
    - kgs instead of lbs fro Zaitseva weight

* `treatments` table
    - missing HbA1c changes
    - The letter u in starting and ending doses
    - lowercase given names and surnames
    - missing records (280 instead of 350)
    - Erroneous datatype (auralin and novodra columns)
    - Inaccurate HbA1c changes (4s mistaken as 9s)
    - Nulls represented as dashes (-) in auralin and novodra columns

* `adverse_reactions` table
    - lowercase given names and surnames

In [24]:
patients.surname.value_counts()

Doe            6
Jakobsen       3
Taylor         3
Nilsen         2
Lâm            2
Berg           2
Liễu           2
Kadyrov        2
Cindrić        2
Gersten        2
Lund           2
Woźniak        2
Batukayev      2
Parker         2
Bùi            2
Johnson        2
Aranda         2
Tạ             2
Silva          2
Correia        2
Cabrera        2
Schiavone      2
Grímsdóttir    2
Tucker         2
Souza          2
Ogochukwu      2
Collins        2
Hueber         2
Kowalczyk      2
Lương          2
              ..
Madrid         1
Majewski       1
Lillebø        1
Compagnon      1
Wong           1
Østergaard     1
Gegič          1
Sleiman        1
Pinto          1
Bonami         1
McKay          1
Grunewald      1
Tobeolisa      1
Ehrlichmann    1
Wubbels        1
Chandler       1
Crawford       1
Nucci          1
Tománková      1
Bois           1
Tomaszewski    1
Fisher         1
Russo          1
Udinesi        1
van de Wiel    1
Sauvé          1
Koivunen       1
Synek          1
Jackson        1
Brhane         1
Name: surname, Length: 466, dtype: int64

In [26]:
patients[patients.address.duplicated()]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
29,30,male,Jake,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
219,220,male,Mỹ,Quynh,NaN,NaN,NaN,NaN,NaN,NaN,4/9/1978,237.8,69,35.1
229,230,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
230,231,female,Elisabeth,Knudsen,NaN,NaN,NaN,NaN,NaN,NaN,9/23/1976,165.9,63,29.4
234,235,female,Martina,Tománková,NaN,NaN,NaN,NaN,NaN,NaN,4/7/1936,199.5,65,33.2
237,238,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
242,243,male,John,O'Brian,NaN,NaN,NaN,NaN,NaN,NaN,2/25/1957,205.3,74,26.4
244,245,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
249,250,male,Benjamin,Mehler,NaN,NaN,NaN,NaN,NaN,NaN,10/30/1951,146.5,69,21.6
251,252,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
257,258,male,Jin,Kung,NaN,NaN,NaN,NaN,NaN,NaN,5/17/1995,231.7,69,34.2
264,265,female,Wafiyyah,Asfour,NaN,NaN,NaN,NaN,NaN,NaN,11/3/1989,158.6,63,28.1
269,270,female,Flavia,Fiorentino,NaN,NaN,NaN,NaN,NaN,NaN,10/9/1937,175.2,61,33.1
277,278,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
278,279,female,Generosa,Cabán,NaN,NaN,NaN,NaN,NaN,NaN,12/16/1962,124.3,69,18.4
282,283,female,Sandy,Taylor,2476 Fulton Street,Rainelle,WV,25962.0,United States,304-438-2648SandraCTaylor@dayrep.com,10/23/1960,206.1,64,35.4
286,287,male,Lewis,Webb,NaN,NaN,NaN,NaN,NaN,NaN,4/1/1979,155.3,68,23.6
296,297,female,Chỉ,Lâm,NaN,NaN,NaN,NaN,NaN,NaN,5/14/1990,181.1,63,32.1
502,503,male,Pat,Gersten,2778 North Avenue,Burr,Nebraska,68324.0,United States,PatrickGersten@rhyta.com402-848-4923,5/3/1954,138.2,71,19.3

In [25]:
patients.address.value_counts()

123 Main Street                  6
648 Old Dear Lane                2
2778 North Avenue                2
2476 Fulton Street               2
1507 Woodlawn Drive              1
4230 Ridenour Street             1
3214 Better Street               1
77 Juniper Drive                 1
2338 Virginia Street             1
2272 Woodland Avenue             1
1975 Holden Street               1
1072 Bird Spring Lane            1
4784 Paul Wayne Haggerty Road    1
1014 Locust Court                1
4649 Joanne Lane                 1
2270 Bel Meadow Drive            1
1904 Granville Lane              1
1810 Hardesty Street             1
3259 Roy Alley                   1
1840 Millbrook Road              1
632 Peaceful Lane                1
3652 Boone Crockett Lane         1
3650 Graystone Lakes             1
2886 Straford Park               1
3942 Jerome Avenue               1
901 Southern Street              1
1094 Jones Avenue                1
1109 Beechwood Drive             1
1690 Fannie Street               1
836 Dovetail Estates             1
                                ..
1990 Spring Avenue               1
1742 Tea Berry Lane              1
4567 Hazelwood Avenue            1
3072 Braxton Street              1
3945 Simons Hollow Road          1
4890 Devils Hill Road            1
4643 Reeves Street               1
3145 Sheila Lane                 1
576 Brown Bear Drive             1
2690 Pin Oak Drive               1
1495 Post Farm Road              1
1270 Haul Road                   1
1540 Overlook Drive              1
1589 Roosevelt Wilson Lane       1
2915 Lynn Avenue                 1
510 Berry Street                 1
174 Lost Creek Road              1
932 Memory Lane                  1
4982 Wood Street                 1
2127 Columbia Mine Road          1
3414 Franklin Avenue             1
90 Meadow View Drive             1
3682 Stiles Street               1
4243 Hidden Meadow Drive         1
1826 Poplar Chase Lane           1
1251 Clarence Court              1
325 Eastland Avenue              1
162 Brooklyn Street              1
3165 Upton Avenue                1
1782 New Creek Road              1
Name: address, Length: 483, dtype: int64

In [28]:
patients.weight.sort_values()

210     48.8
459    102.1
335    102.7
74     103.2
317    106.0
171    106.5
51     107.1
270    108.1
198    108.5
48     109.1
478    109.6
141    110.2
38     111.8
438    112.0
14     112.0
235    112.2
307    112.4
191    112.6
408    113.1
49     113.3
326    114.0
338    114.1
253    117.0
321    118.4
168    118.8
1      118.8
350    119.0
207    119.2
265    120.0
341    120.3
       ...
332    224.0
252    224.2
12     224.2
222    224.8
166    225.3
111    225.9
101    226.2
150    226.6
352    227.7
428    227.7
88     227.7
13     228.4
339    229.0
182    230.3
121    230.8
257    231.7
395    231.9
246    232.1
219    237.8
11     238.7
50     238.9
441    239.1
499    239.6
439    242.0
487    242.4
144    244.9
61     244.9
283    245.5
118    254.5
485    255.9
Name: weight, Length: 503, dtype: float64

In [50]:
weight_lbs = patients[patients.surname == 'Zaitseva'].weight * 2.20462
height_in = patients[patients.surname == 'Zaitseva'].height
bmi_check = 703 * weight_lbs / (height_in * height_in)
bmi_check

210    19.055827
dtype: float64

In [29]:
sum(treatments.auralin.isnull())

0

In [30]:
sum(treatments.novodra.isnull())

0

#### 17. Tidiness: Visual Assessment

**Tidiness**

- contact column in `patients` table should be split into phone number and email
- three variables in two columns in `treatments` table (treatment, start dose and end dose)

In [53]:
patients

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1
5,6,male,Rafael,Costa,1140 Willis Avenue,Daytona Beach,Florida,32114.0,United States,386-334-5237RafaelCardosoCosta@gustr.com,8/31/1931,183.9,70,26.4
6,7,female,Mary,Adams,3145 Sheila Lane,Burbank,NV,84728.0,United States,775-533-5933MaryBAdams@einrot.com,11/19/1969,146.3,65,24.3
7,8,female,Xiuxiu,Chang,2687 Black Oak Hollow Road,Morgan Hill,CA,95037.0,United States,XiuxiuChang@einrot.com1 408 778 3236,8/13/1958,158.0,60,30.9
8,9,male,Dsvid,Gustafsson,1790 Nutter Street,Kansas City,MO,64105.0,United States,816-265-9578DavidGustafsson@armyspy.com,3/6/1937,163.9,66,26.5
9,10,female,Sophie,Cabrera,3303 Anmoore Road,New York,New York,10011.0,United States,SophieCabreraIbarra@teleworm.us1 718 795 9124,12/3/1930,194.7,64,33.4
10,11,female,Sandy,Gunnarsson,87 Wood Duck Drive,Rudyard,MI,49780.0,United States,906-478-8949SandyGunnarsson@dayrep.com,7/16/1974,199.3,62,36.4
11,12,male,Abdul-Nur,Isa,1092 Farm Meadow Drive,Brentwood,TN,37027.0,United States,Abdul-NurMummarIsa@rhyta.com1 931 207 0839,2/3/1954,238.7,73,31.5
12,13,male,Omeokachie,Ibeamaka,2544 Worley Avenue,Lynchburg,VA,24504.0,United States,OmeokachieIbeamaka@einrot.com434-509-2614,8/5/1957,224.2,69,33.1
13,14,female,Anenechi,Chidi,826 Broad Street,Birmingham,AL,35203.0,United States,AnenechiChidi@armyspy.com+1 (205) 417-8095,3/7/1961,228.4,67,35.8
14,15,female,Asia,Woźniak,4970 Heather Sees Way,Tulsa,OK,74105.0,United States,AsiaWozniak@rhyta.com918-712-3469,8/15/1997,112.0,65,18.6
15,16,male,Søren,Lund,2438 Shady Pines Drive,Kingsport,VA,37660.0,United States,276-225-1955SrenFLund@gustr.com,8/23/1922,201.5,64,34.6
16,17,female,Tám,Liễu,2152 Heritage Road,Fresno,California,93706.0,United States,LieuThiThuTam@dayrep.com1 559 765 7836,11/14/1952,183.9,61,34.7
17,18,female,Roxanne,Andreyeva,2103 Edington Drive,Smyrna,GA,30082.0,United States,RoxanneAndreyeva@armyspy.com678-829-8578,7/24/1922,129.1,60,25.2
18,19,male,William,Oates,441 Tibbs Avenue,Ekalaka,MT,59324.0,United States,406-775-2696WilliamVOates@armyspy.com,9/4/1949,202.2,64,34.7
19,20,male,Zak,Kelly,994 Hill Croft Farm Road,Oroville,California,95966.0,United States,ZakKelly@rhyta.com1 530 532 8397,12/13/1988,208.8,70,30.0
20,21,female,Sofia,Karlsen,2931 Romano Street,Whitman,MA,2382.0,United States,SofiaTKarlsen@teleworm.us1 781 447 1763,9/24/1934,153.1,66,24.7
21,22,male,Samúel,Guðbrandsson,1904 Granville Lane,Elmsford,NJ,10523.0,United States,973-445-5341SamuelGubrandsson@teleworm.us,4/12/1983,223.7,69,33.0
22,23,male,Manchu,Su,1092 Deans Lane,Pleasantville,NY,10570.0,United States,914-745-6108ManchuSu@einrot.com,1/19/1936,130.7,65,21.7
23,24,male,Lovre,Galić,4941 Marion Drive,Winter Haven,Florida,33830.0,United States,LovreGalic@gustr.com1 813 355 9476,5/26/1960,222.9,66,36.0
24,25,male,Jakob,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
25,26,male,Gregor,Bole,922 Chapmans Lane,Albuquerque,NM,87109.0,United States,GregorBole@gustr.com505-828-4955,6/19/1922,180.8,67,28.3
26,27,female,Ella,Lund,1207 Garfield Road,Peoria,IL,61602.0,United States,309-671-8852EllaLund@armyspy.com,12/19/1933,144.8,61,27.4
27,28,male,Joseph,Tucker,4982 Wood Street,Venice,LA,70091.0,United States,985-814-7603JosephNTucker@rhyta.com,4/10/1959,175.8,72,23.8
28,29,male,Robert,Wolf,2386 Linda Street,Fort Washington,PA,19034.0,United States,RobertWolf@fleckens.hu1 267 895 7462,6/26/1937,206.6,70,29.6
29,30,male,Jake,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,474,female,Kate,Wilkinson,664 Lyon Avenue,South Boston,MA,2127.0,United States,KateWilkinson@armyspy.com1 508 905 2371,7/18/1998,175.3,65,29.2
474,475,female,Esperanza,Labrosse,1370 Flint Street,Atlanta,GA,30303.0,United States,EsperanzaLabrosse@armyspy.com678-263-3564,10/7/1961,181.5,63,32.1
475,476,male,Malik,Vaneker,1270 Haul Road,Mountain View,California,94041.0,United States,MalikVaneker@superrito.com650-962-7179,9/25/1953,214.4,67,33.6
476,477,female,Berta,Napolitani,1815 Garrett Street,Philadelphia,PA,19108.0,United States,267-972-3749BertaNapolitani@rhyta.com,12/2/1958,153.3,63,27.2
477,478,male,Juliusz,Majewski,4435 Poe Road,Florence,SC,29501.0,United States,JuliuszMajewski@superrito.com+1 (843) 212-6421,9/29/1966,212.1,69,31.3
478,479,female,Edelma,Villalpando,312 Jim Rosa Lane,San Jose,CA,95134.0,United States,EdelmaVillalpandoSantillan@teleworm.us+1 (415)...,6/24/1977,109.6,63,19.4
479,480,male,Tapa,Arsanukayev,4720 Gordon Street,Ontario,California,91762.0,United States,TapaArsanukayev@dayrep.com1 909 458 2515,9/15/1955,220.0,65,36.6
480,481,male,Nasser,Mansour,547 Weekley Street,San Antonio,TX,78212.0,United States,NasserMazinMansour@fleckens.hu1 210 326 5509,3/25/1938,183.5,66,29.6
481,482,male,Michael,Kristensen,1614 Heather Sees Way,Tulsa,OK,74116.0,United States,MichaelKristensen@gustr.com1 918 706 2776,8/10/1930,154.7,65,25.7
482,483,male,Diogo,Souza,4033 White Avenue,Corpus Christi,TX,78401.0,United States,361-693-4960DiogoBarrosSouza@jourrapide.com,3/3/1945,220.0,65,36.6
483,484,female,Angel,Grant,990 Melville Street,Memphis,TN,38118.0,United States,731-577-0292AngelGrant@fleckens.hu,8/14/1987,123.9,61,23.4
484,485,male,Placido,Udinesi,1094 Jones Avenue,Greensboro,NC,28716.0,United States,336-697-2005PlacidoUdinesi@dayrep.com,5/31/1934,175.8,65,29.3
485,486,male,Trifon,Izmailov,3697 Drainer Avenue,Fort Walton Beach,FL,32548.0,United States,TrifonIzmailov@fleckens.hu1 850 659 0417,2/15/1973,255.9,74,32.9
486,487,male,Samuel,Blix,3488 Clair Street,Waco,TX,76706.0,United States,254-681-4504SamuelBlix@dayrep.com,7/6/1983,211.4,74,27.1
487,488,male,Ivar,Löfgren,1346 Nicholas Street,Ottawa,KS,66067.0,United States,IvarLofgren@armyspy.com1 785 229 1188,11/7/1962,242.4,77,28.7
488,489,male,Mika,Martinsson,962 George Street,Ocala,Florida,34471.0,United States,352-453-4601MikaMartinsson@armyspy.com,1/27/1970,165.0,67,25.8
489,490,female,Jasmine,Sykes,2607 Water Street,Lafayette,California,94549.0,United States,JasmineSykes@jourrapide.com925-283-5425,12/1/1988,187.2,63,33.2
490,491,male,Jackson,Addison,1160 Taylor Street,New Rochelle,New York,10801.0,United States,914-636-9304JacksonAddison@armyspy.com,5/29/1953,192.7,69,28.5
491,492,female,Vanessa,Ferguson,241 Freshour Circle,San Antonio,TX,78205.0,United States,210-222-8684VanessaFerguson@jourrapide.com,9/21/1950,149.8,67,23.5
492,493,male,Poldi,Tar,3958 Liberty Avenue,Burbank,California,91505.0,United States,714-496-2264TarPoldi@superrito.com,5/23/1970,184.6,70,26.5
493,494,female,Fen,Chin,1826 Poplar Chase Lane,Boise,ID,83702.0,United States,FenChin@gustr.com+1 (208) 388-1065,3/18/1997,195.1,68,29.7
494,495,female,Sirkka,Piirainen,4102 Ritter Avenue,Roseville,MI,48066.0,United States,SirkkaPiirainen@teleworm.us+1 (586) 790-0975,1/16/1942,126.3,67,19.8
495,496,male,Hajime,Tsukada,4111 Thunder Road,San Mateo,CA,94403.0,United States,650-570-4896HajimeTsukada@dayrep.com,9/5/1972,168.1,66,27.1
496,497,male,Alexander,Hueber,3868 Freed Drive,Stockton,California,95204.0,United States,AlexanderHueber@jourrapide.com1 209 762 2320,9/12/1942,194.0,72,26.3
497,498,male,Masataka,Murakami,1179 Patton Lane,Tulsa,OK,74116.0,United States,MasatakaMurakami@einrot.com+1 (918) 984-9171,8/19/1937,155.1,72,21.0
498,499,male,Mustafa,Lindström,2530 Victoria Court,Milton Mills,ME,3852.0,United States,207-477-0579MustafaLindstrom@jourrapide.com,4/10/1959,181.1,72,24.6
499,500,male,Ruman,Bisliev,494 Clarksburg Park Road,Sedona,AZ,86341.0,United States,928-284-4492RumanBisliev@gustr.com,3/26/1948,239.6,70,34.4
500,501,female,Jinke,de Keizer,649 Nutter Street,Overland Park,MO,64110.0,United States,816-223-6007JinkedeKeizer@teleworm.us,1/13/1971,171.2,67,26.8
501,502,female,Chidalu,Onyekaozulu,3652 Boone Crockett Lane,Seattle,WA,98109.0,United States,ChidaluOnyekaozulu@jourrapide.com1 360 443 2060,2/13/1952,176.9,67,27.7
502,503,male,Pat,Gersten,2778 North Avenue,Burr,Nebraska,68324.0,United States,PatrickGersten@rhyta.com402-848-4923,5/3/1954,138.2,71,19.3

In [54]:
treatments

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32
5,jasmine,sykes,-,42u - 44u,7.56,7.18,0.38
6,sophia,haugen,37u - 42u,-,7.65,7.27,0.38
7,eddie,archer,31u - 38u,-,7.89,7.55,0.34
8,saber,ménard,-,54u - 54u,8.08,7.70,NaN
9,asia,woźniak,30u - 36u,-,7.76,7.37,NaN
10,joseph,day,29u - 36u,-,7.70,7.19,NaN
11,kristiina,hyypiä,-,36u - 38u,7.87,7.49,0.38
12,roxanne,andreyeva,29u - 38u,-,9.54,9.14,NaN
13,gregor,bole,-,47u - 45u,7.61,7.16,0.95
14,simone,baumgaertner,27u - 37u,-,7.74,7.30,NaN
15,enco,žibrik,55u - 68u,-,7.78,7.34,NaN
16,camilla,zaitseva,28u - 37u,-,7.53,7.13,NaN
17,gina,cain,-,36u - 36u,7.88,7.40,0.98
18,addolorata,lombardi,-,49u - 46u,7.75,7.33,NaN
19,khalid,johnsrud,-,54u - 54u,8.35,7.94,NaN
20,mile,stanić,-,47u - 48u,7.66,7.24,0.92
21,tekla,walczak,29u - 39u,-,7.61,7.29,0.32
22,brancaleone,russo,53u - 60u,-,8.61,8.18,NaN
23,chiemela,tobeolisa,-,43u - 47u,7.59,7.17,NaN
24,isac,berg,31u - 41u,-,9.68,9.29,0.39
25,benoît,bonami,-,44u - 43u,9.82,9.40,0.92
26,suhaim,rahal,-,49u - 47u,7.94,7.50,0.94
27,mizuki,iwata,-,45u - 46u,7.70,7.23,0.97
28,clinton,miller,42u - 51u,-,7.79,7.40,0.39
29,eugene,mironov,42u - 49u,-,7.81,7.48,0.33
...,...,...,...,...,...,...,...
250,chen,yao,-,56u - 57u,7.90,7.51,0.39
251,aksel,vestergaard,-,42u - 38u,9.62,9.29,NaN
252,ellen,luman,-,40u - 39u,9.27,8.77,0.50
253,albino,schiavone,35u - 43u,-,7.56,7.15,NaN
254,jose,combs,-,39u - 36u,7.89,7.42,NaN
255,jia li,teng,48u - 54u,-,7.66,7.32,0.34
256,ilija,horvat,42u - 50u,-,7.77,7.38,0.39
257,mathilde,nørgaard,-,27u - 28u,8.50,8.10,0.90
258,csilla,herczegh,-,43u - 46u,7.71,7.27,NaN
259,aaliyah,rice,-,31u - 31u,7.64,7.33,0.31
260,david,beauvais,-,26u - 23u,7.87,7.47,NaN
261,caroline,shuler,-,50u - 54u,7.63,7.27,NaN
262,alex,crawford,51u - 62u,-,7.69,7.30,0.39
263,rebecca,jephcott,53u - 63u,-,7.96,7.57,0.39
264,chukwumoge,ogochukwu,-,41u - 39u,7.95,7.56,0.39
265,fearne,mcgregor,-,27u - 29u,7.83,7.48,0.35
266,ursula,freud,42u - 54u,-,7.75,7.46,0.29
267,leon,scholz,-,38u - 32u,7.72,7.29,0.93
268,yasmin,araujo,-,51u - 54u,7.82,7.36,0.96
269,hiromu,horikawa,-,47u - 46u,7.77,7.28,NaN
270,mika,martinsson,34u - 43u,-,7.50,7.17,0.33
271,leo,vieira,-,30u - 33u,7.74,7.36,NaN
272,steven,roy,-,41u - 43u,7.87,7.43,0.94
273,kate,wilkinson,36u - 39u,-,7.72,7.20,NaN
274,naja,enoksen,43u - 50u,-,7.98,7.59,NaN
275,albina,zetticci,45u - 51u,-,7.93,7.73,0.20
276,john,teichelmann,-,49u - 49u,7.90,7.58,NaN
277,mathea,lillebø,23u - 36u,-,9.04,8.67,0.37
278,vallie,prince,31u - 38u,-,7.64,7.28,0.36
279,samúel,guðbrandsson,53u - 56u,-,8.00,7.64,0.36

#### 18. Tidiness: Programmatic Assessment

* `patients` table

`columns = ['patient_id', 'assigned_sex', 'given_name', 'surname', 'address', 'city', 'state', 'zip_code', 'country', 'contact', 'birthdate', 'weight', 'height', 'bmi']`

* `treatments` table

`columns = ['patient_id, 'treatment', 'start_dose', 'end_dose', 'hba1c_start', 'hba1c_end', 'hba1c_change', 'adverse_reaction']`

In [55]:
patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 14 columns):
patient_id      503 non-null int64
assigned_sex    503 non-null object
given_name      503 non-null object
surname         503 non-null object
address         491 non-null object
city            491 non-null object
state           491 non-null object
zip_code        491 non-null float64
country         491 non-null object
contact         491 non-null object
birthdate       503 non-null object
weight          503 non-null float64
height          503 non-null int64
bmi             503 non-null float64
dtypes: float64(3), int64(2), object(9)
memory usage: 55.1+ KB

In [56]:
treatments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 7 columns):
given_name      280 non-null object
surname         280 non-null object
auralin         280 non-null object
novodra         280 non-null object
hba1c_start     280 non-null float64
hba1c_end       280 non-null float64
hba1c_change    171 non-null float64
dtypes: float64(3), object(4)
memory usage: 15.4+ KB

In [57]:
adverse_reactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 3 columns):
given_name          34 non-null object
surname             34 non-null object
adverse_reaction    34 non-null object
dtypes: object(3)
memory usage: 896.0+ bytes

In [59]:
all_columns = pd.Series(list(patients) + list(treatments) + list(adverse_reactions))
all_columns[all_columns.duplicated()]

14    given_name
15       surname
21    given_name
22       surname
dtype: object

In [61]:
list(patients)

['patient_id',
 'assigned_sex',
 'given_name',
 'surname',
 'address',
 'city',
 'state',
 'zip_code',
 'country',
 'contact',
 'birthdate',
 'weight',
 'height',
 'bmi']

In [63]:
treatments.columns

Index(['given_name', 'surname', 'auralin', 'novodra', 'hba1c_start',
       'hba1c_end', 'hba1c_change'],
      dtype='object')

#### 19. How Data Gets Dirty and Messy

**Sources of Dirty Data**

`Dirty data = low quality data = content issues`

There are lots of sources of dirty data. Basically, anytime humans are involved, there's going to be dirty data. There are lots of ways in which we touch data we work with.

* We're going to have user entry errors.
* In some situations, we won't have any data coding standards, or where we do have standards they'll be poorly applied, causing problems in the resulting data
* We might have to integrate data where different schemas have been used for the same type of item.
* We'll have legacy data systems, where data wasn't coded when disc and memory constraints were much more restrictive than they are now. Over time systems evolve. Needs change, and data changes.
* Some of our data won't have the unique identifiers it should.
* Other data will be lost in transformation from one format to another.
* And then, of course, there's always programmer error.
* And finally, data might have been corrupted in transmission or storage by cosmic rays or other physical phenomenon. So hey, one that's not our fault.

**Sources of Messy Data**

`Messy data = untidy data = structural issues`

Messy data is usually the result of poor data planning. Or a lack of awareness of the benefits of [tidy data](https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html). Fortunately, messy data is usually much more easily addressable than most of the sources of dirty data mentioned above.

#### 20. You Can Iterate!

* Maybe you (as the data analyst or data scientist on the clinical trial research team) realized your statistical power calculations were wrong, and you needed to recruit more patients to make your study statistically significant. You'd also have to do revisit gathering in this scenario.
* Maybe you realized you were missing a key piece of patient information, like patient blood type (again, unlikely given the rigor of clinical trials, but mistakes happen) because you discovered new research that related insulin resistance to blood type. You'd also have to do revisit gathering in this scenario.
* Maybe you finished assessing, started cleaning, and spotted another data quality issue. Revisiting assessing to add these assessments to your notes is fine.

#### 21. Assessing Summary

Assessing is the second step in the data wrangling process:

1. Gather
2. Assess
3. Clean

You can assess data for:

* Quality: issues with content. Low quality data is also known as dirty data.
* Tidiness: issues with structure that prevent easy analysis. Untidy data is also known as messy data. Tidy data requirements:
    * Each variable forms a column.
    * Each observation forms a row.
    * Each type of observational unit forms a table.

…using two types of assessment:

* Visual assessment: scrolling through the data in your preferred software application (Google Sheets, Excel, a text editor, etc.).
* Programmatic assessment: using code to view specific portions and summaries of the data (pandas' head, tail, and info methods, for example).

#### 22. Conclusion

You visually and programmatically assessed a data set full of data quality and tidiness issues and you caught and categorized every issue, despite never having seen the data. Like a true detective thrown onto the case. That takes talent.